# User databases
*.db

# User data
*.json

# Logs
*.log

# Python
__pycache__/
*.pyc

# Kivy
.kivy/

# SQLite
*.db-journal
*.sqlite-journal

# Build
.buildozer/
bin/

deleted.text
*.csv

# python virtual env
.venv/

# Windows Explorer
[Dd]esktop.ini
Thumbs.db